# Actividad 3

Importamos las librerías

In [11]:
import numpy as np
import pandas as pd

In [12]:
url="https://raw.githubusercontent.com/Carlos8abl/F-sica-Computacional-1/main/Actividad%201/Climatolog%C3%ADaDiaria26160.txt"
type_data=['Fecha', 'Precip', 'Evap', 'Tmax', 'Tmin']
df_dist=pd.read_csv(url, names=type_data,encoding='cp1251', sep='\s+', header=None, skiprows=19, skipfooter=1, engine='python')

Primeras (head) y últimas (tail) 10 filas del archivo.

In [13]:
print(df_dist.head(10))
print(df_dist.tail(10))

        Fecha Precip  Evap  Tmax Tmin
0  02/01/1969      0  Nulo  Nulo    0
1  03/01/1969      0  Nulo    24    2
2  04/01/1969      0  Nulo    25    3
3  06/01/1969      0  Nulo    22    4
4  07/01/1969      0  Nulo    21    3
5  08/01/1969      0  Nulo    30    4
6  09/01/1969      0  Nulo    28    5
7  10/01/1969      0  Nulo    28    5
8  11/01/1969      0  Nulo    25    3
9  13/01/1969      0  Nulo    27    4
            Fecha Precip  Evap  Tmax  Tmin
14253  21/04/2016      0  Nulo    37     9
14254  22/04/2016      0  Nulo    36    10
14255  23/04/2016      0  Nulo  Nulo    12
14256  24/04/2016      0  Nulo    33  Nulo
14257  25/04/2016      0  Nulo    30    10
14258  26/04/2016      0  Nulo    27     9
14259  27/04/2016      0  Nulo    31     6
14260  28/04/2016      0  Nulo    28     8
14261  29/04/2016      0  Nulo    30     6
14262  30/04/2016      0  Nulo    30     7

En la mayor parte de mis datos la precipitación es 0 o nula y la evaporación nula.

Dimensiones (shape) del dataframe.

In [14]:
df_dist.shape

(14263, 5)

Información (info) del dataframe.

In [15]:
df_dist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14263 entries, 0 to 14262
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   14263 non-null  object
 1   Precip  14263 non-null  object
 2   Evap    14263 non-null  object
 3   Tmax    14263 non-null  object
 4   Tmin    14263 non-null  object
dtypes: object(5)
memory usage: 557.3+ KB

Copia (copy) del archivo.

In [16]:
df_work0=df_dist.copy()

Primeras 10 filas de la copia.

In [17]:
df_work0.head(10)

        Fecha Precip  Evap  Tmax Tmin
0  02/01/1969      0  Nulo  Nulo    0
1  03/01/1969      0  Nulo    24    2
2  04/01/1969      0  Nulo    25    3
3  06/01/1969      0  Nulo    22    4
4  07/01/1969      0  Nulo    21    3
5  08/01/1969      0  Nulo    30    4
6  09/01/1969      0  Nulo    28    5
7  10/01/1969      0  Nulo    28    5
8  11/01/1969      0  Nulo    25    3
9  13/01/1969      0  Nulo    27    4

Reemplazo (replace) del dato "Nulo" por "No medido".

In [18]:
str_Nulo="Nulo"
df_work1=df_work0.replace(to_replace=str_Nulo, value='No medido', regex=True)

Primeras 10 filas del archivo con el reemplazo incluido.

In [19]:
df_work1.head(10)

        Fecha Precip       Evap       Tmax Tmin
0  02/01/1969      0  No medido  No medido    0
1  03/01/1969      0  No medido         24    2
2  04/01/1969      0  No medido         25    3
3  06/01/1969      0  No medido         22    4
4  07/01/1969      0  No medido         21    3
5  08/01/1969      0  No medido         30    4
6  09/01/1969      0  No medido         28    5
7  10/01/1969      0  No medido         28    5
8  11/01/1969      0  No medido         25    3
9  13/01/1969      0  No medido         27    4

Información con los cambios incluidos.

In [20]:
df_work1.info()
print(df_work1.head(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14263 entries, 0 to 14262
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   14263 non-null  object
 1   Precip  14263 non-null  object
 2   Evap    14263 non-null  object
 3   Tmax    14263 non-null  object
 4   Tmin    14263 non-null  object
dtypes: object(5)
memory usage: 557.3+ KB
        Fecha Precip       Evap       Tmax Tmin
0  02/01/1969      0  No medido  No medido    0
1  03/01/1969      0  No medido         24    2
2  04/01/1969      0  No medido         25    3
3  06/01/1969      0  No medido         22    4
4  07/01/1969      0  No medido         21    3
5  08/01/1969      0  No medido         30    4
6  09/01/1969      0  No medido         28    5
7  10/01/1969      0  No medido         28    5
8  11/01/1969      0  No medido         25    3
9  13/01/1969      0  No medido         27    4

Convertir a número flotante (numeric) las variables.

In [21]:
cols_list = ['Precip', 'Evap', 'Tmax', 'Tmin']
for cols in cols_list:
  df_work1[cols] = pd.to_numeric(df_work1[cols], errors='coerce')

Información actualizada.

In [22]:
df_work1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14263 entries, 0 to 14262
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   14263 non-null  object
 1   Precip  14184 non-null  float64
 2   Evap    2899 non-null   float64
 3   Tmax    14094 non-null  float64
 4   Tmin    14096 non-null  float64
dtypes: float64(4), object(1)
memory usage: 557.3+ KB

Suma de los valores no medidos.

In [23]:
df_work1.isnull().sum()

Fecha         0
Precip       79
Evap      11364
Tmax        169
Tmin        167
dtype: int64

Primeras y últimas 10 filas del archivo.

In [24]:
print(df_work1.head(10))
print(df_work1.tail(10))

        Fecha  Precip  Evap  Tmax  Tmin
0  02/01/1969     0.0   NaN   NaN   0.0
1  03/01/1969     0.0   NaN  24.0   2.0
2  04/01/1969     0.0   NaN  25.0   3.0
3  06/01/1969     0.0   NaN  22.0   4.0
4  07/01/1969     0.0   NaN  21.0   3.0
5  08/01/1969     0.0   NaN  30.0   4.0
6  09/01/1969     0.0   NaN  28.0   5.0
7  10/01/1969     0.0   NaN  28.0   5.0
8  11/01/1969     0.0   NaN  25.0   3.0
9  13/01/1969     0.0   NaN  27.0   4.0
            Fecha  Precip  Evap  Tmax  Tmin
14253  21/04/2016     0.0   NaN  37.0   9.0
14254  22/04/2016     0.0   NaN  36.0  10.0
14255  23/04/2016     0.0   NaN   NaN  12.0
14256  24/04/2016     0.0   NaN  33.0   NaN
14257  25/04/2016     0.0   NaN  30.0  10.0
14258  26/04/2016     0.0   NaN  27.0   9.0
14259  27/04/2016     0.0   NaN  31.0   6.0
14260  28/04/2016     0.0   NaN  28.0   8.0
14261  29/04/2016     0.0   NaN  30.0   6.0
14262  30/04/2016     0.0   NaN  30.0   7.0

Análisis estadístico (describe) con un redondeo (round) de cuatro cifras significativas con el fin de interpretar los datos.

In [25]:
df_work1.describe().round(4)

           Precip       Evap        Tmax        Tmin
count  14184.0000  2899.0000  14094.0000  14096.0000
mean       1.0812     5.9220     30.5383      9.9910
std        4.7423     3.2555      7.2035      7.2683
min        0.0000     0.1000      3.0000     -9.5000
25%        0.0000     3.4000     25.5000      4.0000
50%        0.0000     5.5000     31.0000      8.5000
75%        0.0000     8.1000     36.0000     16.5000
max      120.0000    16.9000     48.0000     30.0000

Nueva copia del archivo.

In [26]:
df_work2=df_work1.copy()

Primeras 10 filas de la columna Fecha.

In [27]:
df_work2["Fecha"].head(10)

0    02/01/1969
1    03/01/1969
2    04/01/1969
3    06/01/1969
4    07/01/1969
5    08/01/1969
6    09/01/1969
7    10/01/1969
8    11/01/1969
9    13/01/1969
Name: Fecha, dtype: object

Cambio al formato de la fecha (to_datetime) a uno compatible con python.

In [28]:
df_work2['Fecha']=pd.to_datetime(df_work2['Fecha'], dayfirst=True).copy()

Información de las varibles (dtypes).

In [29]:
df_work2.dtypes

Fecha     datetime64[ns]
Precip           float64
Evap             float64
Tmax             float64
Tmin             float64
dtype: object

Inclusión de dos columnas adicionales con el año y el mes (dt.year , dt.month)

In [30]:
df_work2['Año'] = df_work2['Fecha'].dt.year
df_work2['Mes'] = df_work2['Fecha'].dt.month

Primeras y últimas 10 filas del archvo con las nuevas columnas agregadas.

In [31]:
print(df_work2.head(10))
print(df_work2.tail(10))

       Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
0 1969-01-02     0.0   NaN   NaN   0.0  1969    1
1 1969-01-03     0.0   NaN  24.0   2.0  1969    1
2 1969-01-04     0.0   NaN  25.0   3.0  1969    1
3 1969-01-06     0.0   NaN  22.0   4.0  1969    1
4 1969-01-07     0.0   NaN  21.0   3.0  1969    1
5 1969-01-08     0.0   NaN  30.0   4.0  1969    1
6 1969-01-09     0.0   NaN  28.0   5.0  1969    1
7 1969-01-10     0.0   NaN  28.0   5.0  1969    1
8 1969-01-11     0.0   NaN  25.0   3.0  1969    1
9 1969-01-13     0.0   NaN  27.0   4.0  1969    1
           Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
14253 2016-04-21     0.0   NaN  37.0   9.0  2016    4
14254 2016-04-22     0.0   NaN  36.0  10.0  2016    4
14255 2016-04-23     0.0   NaN   NaN  12.0  2016    4
14256 2016-04-24     0.0   NaN  33.0   NaN  2016    4
14257 2016-04-25     0.0   NaN  30.0  10.0  2016    4
14258 2016-04-26     0.0   NaN  27.0   9.0  2016    4
14259 2016-04-27     0.0   NaN  31.0   6.0  2016    4
14260 2016-04-28     0.0   NaN  28.0   8.0  2016    4
14261 2016-04-29     0.0   NaN  30.0   6.0  2016    4
14262 2016-04-30     0.0   NaN  30.0   7.0  2016    4

Información de todas las varibles incluyendo las nuevas.

In [32]:
df_work2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14263 entries, 0 to 14262
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   14263 non-null  datetime64[ns]
 1   Precip  14184 non-null  float64
 2   Evap    2899 non-null   float64
 3   Tmax    14094 non-null  float64
 4   Tmin    14096 non-null  float64
 5   Año     14263 non-null  int64
 6   Mes     14263 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(2)
memory usage: 780.1 KB